@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Raleway-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}